#UNMENU_RELEASE $Revision$ $Date$
#=============================================================
#============== myMain_local Configuration File ============== 
#=============================================================
# auto-refresh interval for this plug-in.
ADD_ON_REFRESH = 300

# EASY STEPS FOR NEW USERS:
# 1.  Before making any changes, run myMain and make sure it works
# 2.  Look on the "Inventory" view.  You will need to be able to cut and paste the serial numbers
# 3.  Go the the section below called "SET DISK VALUES" make a copy of the lines for each drive.  (Make sure you uncomment them!)
#     (note:  You don't have to set all the values, only set the ones that you want to be able to see).
# 4.  When done, refresh the myMain "Inventory" view.  It uses many of the configured values.  Make sure your configurations are visible.
# 5.  Once you have played around a bit, you might want to customize the view settings.  See the section just below to do that.
# 6.  Remember, you can create new views and new PseudoCols to make myMain work the way you want it to work.

#---------------- VIEW DEFINITIONS ---------------------

#--------------------------------------------------------------------------
# Create the views for myMain.  Several come predefined ...  but feel free 
# to add more or tweak these.  Look at the Tokens and PseudoColumns defined  
# later in this config file to see the column options.
#--------------------------------------------------------------------------

#SetView(name, options, collist)
# options:           -------1 - display the total row.  If set to zero, sorts apply to all rows but no total is shown.
#                    ------1- - gather performance data.  Run bwm-ng a couple of times.  Takes extra time.
#                    -----1-- - gather smart data.  Run smartctl on EVERY drive.  Takes extra time.
#                    ----1--- - gather temperature data (slows things down).  Runs smartctl on every spun up drive.  Take extra time.
#                    ---1----
#                    --1-----
#                    -1------ - Greenbar
#                    1------- - Drop grid formatting / special fonts

#SetView(default,     01001001, "_status disk dev _sname id share reads writes errors disk_size disk_pctused disk_free usage tempc _spin _info")
#SetView(performance, 01001011, "_status disk dev _sname share RxSpeed TxSpeed reads writes errors disk_size disk_pctused disk_free usage tempc _spin _info")
#SetView(quick,       01000001, "_status disk dev _sname share reads writes errors disk_size disk_pctused disk_free slot usage _spin _info")
#SetView(vanilla,     10001001, "_status disk fullid tempc disk_size disk_free reads writes errors")
#SetView(smart,       01000100, "_status disk dev share id smart_family smart_model smart_firmware smart_ata_ver smart_overall smart_fail_lst start_stop_count power_on_hours power_cycle_count airflow_temperature_cel temperature_celsius _info")
#SetView(inventory,   01000000, "_status slot disk dev share manu modelname disk_size interface modelnum serial borndate purchdate usage")
#SetView(detail,      01000001, "_status disk share disk_size_1024c disk_free_1024c disk_pctused_raw disk_size_1000c disk_free_1000c")

#----------------------------------------------------------------------------
# The default sort of any view (even it this column is not shown) is "num".  
# This will show the array in the normal order.  If you want to change the 
# sort you can by defining a value of the view name with the word "sort" 
# appended.  
#--------------------------------------------------------------------------*/
#SetConstant(inventorysort, "slot+num")   # sets sort order for the inventory view


#---------------------------------------------------------------------------------
# Refer to myMenu.conf for the manual (i.e., user maintained) tokens are defined.
# You can add new attributes here.  An example of tracking "warranty" is
# provided below.  Uncomment it and supply values in the section below if
# you would like to track warranty duration.
#---------------------------------------------------------------------------------
#LoadToken(warranty,         warranty,            center,   "Warr") 


#---------------- SET DISK VALUES ---------------------

#--------------------------------------------------------------------
# You can define values for each of the manual disk tokens here.  In 
# addition, you can OVERRIDE system computed values.  There are some 
# some examples of this shown below.  
#
# You can also set a special token called "smart_nospinup".  Setting
# to 1 will allow temperature data to be read on spun down drives.
# It is intended to be set for drives (like the WDs) that don't spinup
# when running the smartctl command.
#
# Some smart attribute values are set and there is nothing you can do 
# about them.  (e.g., a reallocated sector.).  Turning them yellow or 
# red is of no value.  You can accept these attributes by appending 
# the sting "_ok" to the end of a smart attribute and adding it for 
# a disk.  Set it equal to the "ok'ed" value.  So if you okay 1 
# reallocated sector, and another one happens, it will turn red again.  
# There is an example below.  
#
# It is also possible to adjust temperature values.  For example, if a drive 
# is reporting temps that are 4 degrees C colder than actual, you can tell 
# myMAIN to automatically add 4 to the temperature setting for that drive.  
# Name the attribute "temperature_celsius_delta".
#--------------------------------------------------------------------

#SetDriveValue(index, attribute, value) (index can be a serial number, md# (e.g., md1), or device (i.e., sda).  Using the serial number is recommended.

# Clone this section for each drive and set the values that you are interested in tracking.
#SetDriveValue(5QG0L000, slot,          "A")
#SetDriveValue(5QG0L000, id,            "000")
#SetDriveValue(5QG0L000, share,         "dvd1")
#SetDriveValue(5QG0L000, interface,     "JMicron")
#SetDriveValue(5QG0L000, modelname,     "Barracuda 7200.10")
#SetDriveValue(5QG0L000, cache,         "16")
#SetDriveValue(5QG0L000, borndate,      "1/18/07")
#SetDriveValue(5QG0L000, borndate_raw,  "20070118")
#SetDriveValue(5QG0L000, purchdate,     "2/1/08")
#SetDriveValue(5QG0L000, purchdate_raw, "20080201")
#SetDriveValue(5QG0L000, usage,         "Movies")

# Optional values:
#SetDriveValue(5QG0L000, smart_nospinup,  "1")             # set for non-WD drives that can run smartctl without spinning up the drive
#SetDriveValue(WD-WCAU40000000, smart_nospinup,  "0")      # set to prevent drives from running smartctl to get the temp (default for all but WD drives) 
#SetDriveValue(5QG0L000, reallocated_sector_ct_ok, "1")    # suppress error if "reallocated_sector_ct" == 1 for this drive.
#SetDriveValue(5QG0L000, temperature_celsius_delta, "-10") # Example of adjusting drive temp down             

#---------------- PSEUDOCOLUMNS ---------------------

#-----------------------------------------------------------------------------------------------------------------------
# These are PseudoColumns that allow you to create hyperlinks and 
# combination fields.  You can freely add new ones.  Note that you 
# also need to LoadTokens for each PseudoColumn.  PseudoColumns 
# must begin with an underscore "_".  
#
# The word "total" can be appended to the PseudoColumns name to 
# define what happens in the total row.

# You can use the reserved strings MYMAIN and UTILITY inside of 
# pseudocolumn definitions: 
#
# MYMAINDD=myMain?sort=order&dev=%dev&disk=%disk    
# MYMAIN=myMain?sort-order&disk=%disk               
# UTILITYDD=utility?sort-order&dev=%dev&disk=%disk
# UTILITY=utility?sort-order&dev=%dev&disk=%disk
#-------------------------------------------------------------------------------------------------------------------------

#LoadPseudoCol(_sdxmdx, "%dev (%md)")

#LoadToken(_sdxmdx,      dev,              center, "Dev (md)")
                           
#---------------- GUI SETTINGS / OTHER CUSTOMIZATIONS ---------------------

# This set may only work in IE - but they are more attractive IMO.  (Check the myMain.conf file for the latest version of these)

#SetConstant(PassedHtml,    "<font face=\"Wingdings\" size=\"4\">&#252;</font>")    # check mark on smart view
#SetConstant(FailedHtml,    "<font face=\"Wingdings\" size=\"4\">&#251;</font>")    # x mark on smart view
#SetConstant(NetworkHtml,   "<font face=\"Webdings\">~</font> ")                    # ligthning symbol on performance view
#SetConstant(SpinHtml,      "<font face=\"Wingdings 3\" size=\"4\">Q</font>")       # circle with arrow - shows drive is spinning
#SetConstant(NospinHtml,    "<font face=\"Symbol\" size=\"4\">-</font>")            # long dash - shows drive is not spinning
#SetConstant(BulletHtml,    "<font face=\"Wingdings\">s</font>&nbsp;")              # bullet used in smart_fail_lst
#SetConstant(SortAscHtml,   "&nbsp;<font face=\"Wingdings 3\" style=\"color:cyan\">p</font>") 
#SetConstant(SortDescHtml,  "&nbsp;<font face=\"Wingdings 3\" style=\"color:cyan\">q</font>") 
 

#SetConstant(BlueTemp,   15)   #if <  this value
#SetConstant(YellowTemp, 40)   #if >= this value (Sorry to duplicate from unmenu.conf, but didn't want to parse that too)
#SetConstant(OrangeTemp, 45)   #if >= this value (Sorry to duplicate from unmenu.conf, but didn't want to parse that too)
#SetConstant(RedTemp,    50)   #if >= this value (Sorry to duplicate from unmenu.conf, but didn't want to parse that too)


#-----------------------------------------------------------------------
# Refer to the myMain.conf for more info on adding hyperlink tables and 
# other fieldsets.  
#-----------------------------------------------------------------------

#---------------------------------------------------------
# Remove the hyperlink from the bottom of the smart view.  
#---------------------------------------------------------
#SetConstant(extrafssmart1, "")
#SetConstant(extrafssmart1height, "")
#SetConstant(extrafssmart1scroll, "")
#SetConstant(extrafssmart1topms, "") 


